
<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>
        <h3>{{profile.online}}</h3>
        <label>
            <span>Name:</span>
            <br />{{profile.name}}
        </label>

        <label>
            <span>Email:</span>
            <br />{{profile.email}}
        </label>

        <label>
            <span>Geburtstag:</span>
            <br /><input type="text" name="birthday" ng-model="profile.birthday"/>
        </label>

        <label>
            <span>Straße:</span>
            <br /><input type="text" name="street" ng-model="profile.street"/>
        </label>

        <label>
            <span>Hausnummer:</span>
            <br /><input type="text" name="housenumber" ng-model="profile.housenumber"/>
        </label>

        <label>
            <span>PLZ:</span>
            <br /><input type="text" name="zipcode" ng-model="profile.zipcode"/>
        </label>

        <label>
            <span>Ort:</span>
            <br /><input type="text" name="city" ng-model="profile.city"/>
        </label>

        <label>
            <span>Kontostand:</span>
            <br />{{profile.account_balance}}
        </label>

        <label>
            <span>Profilbilder:</span>
            <br />{{profile.profile_image}}
            <img ng-src="profile_image" />
            <input id="inputFileToLoad" type="file" onchange="angular.element(this).scope().changeSrc(event);" />
            <div id="canvas-container">
                <canvas width="400" height="300" id="canvas"/>
            </div>

        </label>

        <label>
            <span>Anzahl der Ausrichtungen:</span>
            <br />{{profile.counted_events}}
        </label>

        <label>
            <span>Ausrichtungsscore (Anzahl der Ausrichtungen/Zugehörigkeit):</span>
            <br />{{profile.counted_events}}
        </label>

    </fieldset>
</form>


<button ng-click="logout()">Log Out</button>