
<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>
        <h3>{{profile.online}}</h3>
        <label>
            <span>Name:</span>
            <br />{{profile.name}}
        </label>

        <label>
            <span>Email:</span>
            <br />{{profile.email}}
        </label>

        <label>
            <span>Straße:</span>
            <br /><span ng-show="profile.street">{{profile.street}}</span>
        </label>
        <input ng-hide="profile.street" type="text" name="street" ng-model="profile.street"/>
    </fieldset>
</form>


<button ng-click="logout()">Log Out</button>