
<h2>Login Page</h2>

<form>
    <!--<span id="signin">-->
        <!--<span-->
                <!--class="g-signin"-->
                <!--data-callback="signinCallback"-->
                <!--data-clientid="423678439727-8hgh8umanqbq4qfrjdpj5un7h9n3212l.apps.googleusercontent.com"-->
                <!--data-cookiepolicy="single_host_origin"-->
                <!--data-scope="https://www.googleapis.com/auth/drive.file">-->
        <!--</span>-->
      <!--</span>-->
    <!--<label>-->
        <!--<span>email</span>-->
        <!--<input type="text" ng-model="email" />-->
    <!--</label>-->
    <!--<label>-->
        <!--<span>password</span>-->
        <!--<input type="password" ng-model="pass" />-->
    <!--</label>-->
    <!--<label ng-cloak ng-show="createMode">-->
        <!--<span>confirm pass</span>-->
        <!--<input type="password" ng-model="confirm" />-->
    <!--</label>-->
    <button ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
    <button ng-click="logout()" ng-hide="createMode">Logout</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>

